<div class="row" style="height:400px;">
    <div class="col-md-4 col-md-offset-1">
        你的事业，从狨猴开始！
    </div>
    <div class="col-md-4">
        <form class="" role="form">
            <div class="input-group input-group-lg">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                <input type="text" class="form-control" placeholder="请输入你的手机号" ng-model="username">
            </div><br>
            <div class="input-group input-group-lg">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                <input type="password" class="form-control" placeholder="密码" ng-model="password">
            </div><br>
            <div class="col-md-6 col-md-offset-5">
                <div class="input-group input-group-lg">
                    <button type="button" class="btn btn-primary" data-toggle="button" ng-click="submit()">登录</button>
                </div>
            </div>
        </form>
    </div>
</div>