<div class="col-md-10">
    <div class="input-group">
        <input type="text" class="form-control">
        <span class="input-group-addon">搜索</span>
    </div>
</div>
<div class="col-md-2">
    <a href="javascript://" ng-click="add()">
        <button type="button" class="btn btn-primary">新增计划</button>
    </a>
</div>
<div>
    <table class="table">
        <thead>
        <tr>
            <th>发布者</th>
            <th>标题</th>
            <th>发布时间</th>
            <th>浏览量</th>
            <th>收藏</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in planList">
            <td>{{item.username}}</td>
            <td>{{item.title}}</td>
            <td>{{item.created}}</td>
            <td>100</td>
            <td>
                <a href="javascript://"><span class="glyphicon glyphicon-heart"></span></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
